<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.Find" version="7.0.586.8" targetFramework="net40" />
  <package id="FluentAssertions" version="2.0.0.1" targetFramework="net40" />
  <package id="Machine.Specifications" version="0.5.9" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="StoryQ" version="2.0.5" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
</packages>