<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.Find" version="8.2.1.643" targetFramework="net40" />
  <package id="FluentAssertions" version="2.0.0.1" targetFramework="net40" />
  <package id="Machine.Specifications" version="0.8.3" targetFramework="net45" requireReinstallation="True" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net45" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net40" />
  <package id="StoryQ" version="2.0.5" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
</packages>